asgiref==3.11.1
crispy-bootstrap5==2026.3
dj-database-url==3.1.2
dj-email-url==1.0.6
Django==6.0.4
django-cache-url==3.4.6
django-crispy-forms==2.6
environs==15.0.1
gunicorn==26.0.0
marshmallow==4.3.0
packaging==26.2
psycopg==3.3.4
psycopg-binary==3.3.4
python-dotenv==1.2.2
sqlparse==0.5.5
whitenoise==6.12.0
